@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope-medium";
  font-weight: 500;
  src: local("Inter"),
    url("../fonts/ManropeMedium/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/ManropeMedium/Manrope-Medium.woff") format("woff"),
    url("../fonts/ManropeMedium/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-Semibold";
  font-weight: 600;
  src: local("Inter"),
    url("../fonts/ManropeSemiBold/Manrope-Semibold.woff2") format("woff2"),
    url("../fonts/ManropeSemiBold/Manrope-Semibold.woff") format("woff"),
    url("../fonts/ManropeSemiBold/Manrope-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-Bold";
  font-weight: 700;
  src: local("Inter"),
    url("../fonts/ManropeBold/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/ManropeBold/Manrope-Bold.woff") format("woff"),
    url("../fonts/ManropeBold/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  font-weight: 800;
  src: local("Inter"),
    url("../fonts/ManropeExtraBold/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/ManropeExtraBold/Manrope-ExtraBold.woff") format("woff"),
    url("../fonts/ManropeExtraBold/Manrope-ExtraBold.ttf") format("truetype");
}

@layer base {
  body {
    @apply font-manrope-medium bg-white text-midnight;
  }
}

@layer components {
  .container {
    @apply mx-auto px-[20px] py-[0px] max-w-[375px] tablet:max-w-[768px] tablet:px-[32px] desktop:px-[32px] desktop:max-w-[1280px];
  }

  .header-container {
    @apply mx-auto px-[20px] pt-[28px] pb-[20px] max-w-[375px] tablet:max-w-[768px] tablet:px-[32px] tablet:py-[32px] desktop:px-[64px] desktop:py-[32] desktop:max-w-[1280px];
  }

  .content-container {
    min-height: calc(100vh - 100px);
  }

  @media (min-width: 768px) {
    .content-container {
      min-height: calc(100vh - 146px);
    }
  }
  /* .section {
    @apply rounded-30 bg-light-dark w-full py-[40px] px-[20px] md:px-[40px] lg:pb-[28px];
  } */
}
